<div class="container-separated-home">
  <h1>Choisis ta catégorie :</h1>
  <div class="centered-text">
    <ul>
      <% @categories.each do |category| %>
        <li><a role="button" class="btn button-gray" href="/categories/<%= category.id %>"><%= category.name.capitalize %></a></li>
      <% end %>
    </ul>
  </div>
</div>
