<div class="container-separated">
  <div class="centered-text">
    <ul>
      <% @categories.each do |category| %>
        <li><button type="button" class="btn btn-secondary"><%= category.name.capitalize %></button></li>
      <% end %>
    </ul>
  </div>
</div>
