.navbar-custom {
  justify-content: space-between;
  background: white;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
  text-align: -webkit-right;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media(min-width: 575px) {
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
