<div class="container-separated-show">
  <div class="left-container">
    <p id="first-choice"><%= @choice.first_choice %></p>
  </div>
  <div class="center-container">
    <p>OU</p>
  </div>
  <div class="right-container">
    <p id="second-choice"><%= @choice.second_choice %></p>
  </div>
</div>
